.email
  Email
  = user.email
- if user.connected_to_any_world?
  .world
    Current World:
    = user.world.name
.races_container
  Owned races:
  - user.races.each do |race|
    .race
      .name
        = race.name
.create_race
  Create new
  = link_to "race", new_race_path()

%canvas#map{ height: 800, width: 800 }
